In [17]:
# Dependencies
import numpy as np
import pandas as pd

import csv
import os

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine, MetaData

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [31]:
#Data common to macro level - Bay Area and Micro level - Counties.

#InterestRates - Data goes back to 1963 
InterestRatesDf =  pd.read_csv(os.path.join("resources","HistoricalData","FHFB_Historical_InterestRates.csv"))

#InterestRatesDf["Year"] = InterestRatesDf["Year"].apply(np.round)
#InterestRatesDf.Year.astype(float).round().astype(int)
InterestRatesDf = InterestRatesDf[["Year","Effective_Rate"]]
InterestRatesDf = InterestRatesDf.dropna()
InterestRatesDf["Year"] = InterestRatesDf.Year.astype(float).round().astype(int)
InterestRatesDf

    Year  Effective_Rate
0   1963            6.00
1   1964            5.95
2   1965            5.92
3   1966            6.37
4   1967            6.50
5   1968            7.02
6   1969            7.82
7   1970            8.38
8   1971            7.69
9   1972            7.53
10  1973            7.97
11  1974            8.96
12  1975            9.13
13  1976            9.07
14  1977            9.02
15  1978            9.59
16  1979           10.85
17  1980           12.84
18  1981           14.91
19  1982           15.31
20  1983           12.73
21  1984           12.48
22  1985           11.64
23  1986           10.18
24  1987            9.30
25  1988            9.30
26  1989           10.13
27  1990           10.05
28  1991            9.34
29  1992            8.11
30  1993            7.13
31  1994            7.49
32  1995            7.85
33  1996            7.74
34  1997            7.68
35  1998            7.10
36  1999            7.25
37  2000            7.96
38  2001            7.03
39  2002            6.51
40  2003            5.73
41  2004            5.74
42  2005            5.90
43  2006            6.60
44  2007            6.49
45  2008            6.14
46  2009            5.14
47  2010            4.91
48  2011            4.68
49  2012            3.77
50  2013            3.98
51  2014            4.28
52  2015            4.03
53  2016            3.83
54  2017            4.07
55  2018            4.46

In [75]:
#County level data

##HousingAffordabilityIndex: Percent of population that can afford to buy a home priced at the median price level 
##- goes back to 1991
########Data for Napa and Solana counties is avaliable only from 2010.

HousingAffordavilityIndexMonthlyDf = pd.read_csv(os.path.join("resources","HistoricalData","Historical_Housing_Affordability_BayAreaCounties.csv"))

HousingAffordavilityIndexMonthlyAlmedaDf = HousingAffordavilityIndexMonthlyDf[["Month/QTR","Alameda","Year"]]
HousingAffordavilityIndexMonthlyAlmedaDf = HousingAffordavilityIndexMonthlyAlmedaDf.dropna()
HousingAffordavilityIndexMonthlyAlmedaDf["Year"] = HousingAffordavilityIndexMonthlyAlmedaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyContraCostaDf = HousingAffordavilityIndexMonthlyDf[["Month/QTR","Contra Costa","Year"]]
HousingAffordavilityIndexMonthlyContraCostaDf = HousingAffordavilityIndexMonthlyContraCostaDf.dropna()
HousingAffordavilityIndexMonthlyContraCostaDf["Year"] = HousingAffordavilityIndexMonthlyContraCostaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyMarinDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Marin","Year"]]
HousingAffordavilityIndexMonthlyMarinDf = HousingAffordavilityIndexMonthlyMarinDf.dropna()
HousingAffordavilityIndexMonthlyMarinDf["Year"] = HousingAffordavilityIndexMonthlyMarinDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyNapaDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Napa","Year"]]
HousingAffordavilityIndexMonthlyNapaDf = HousingAffordavilityIndexMonthlyNapaDf.dropna()
HousingAffordavilityIndexMonthlyNapaDf["Year"] = HousingAffordavilityIndexMonthlyNapaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySanFranciscoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","San Francisco","Year"]]
HousingAffordavilityIndexMonthlySanFranciscoDf = HousingAffordavilityIndexMonthlySanFranciscoDf.dropna()
HousingAffordavilityIndexMonthlySanFranciscoDf["Year"] = HousingAffordavilityIndexMonthlySanFranciscoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySanMateoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","San Mateo","Year"]]
HousingAffordavilityIndexMonthlySanMateoDf = HousingAffordavilityIndexMonthlySanMateoDf.dropna()
HousingAffordavilityIndexMonthlySanMateoDf["Year"] = HousingAffordavilityIndexMonthlySanMateoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySantaClaraDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Santa Clara","Year"]]
HousingAffordavilityIndexMonthlySantaClaraDf = HousingAffordavilityIndexMonthlySantaClaraDf.dropna()
HousingAffordavilityIndexMonthlySantaClaraDf["Year"] = HousingAffordavilityIndexMonthlySantaClaraDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySolanoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Solano","Year"]]
HousingAffordavilityIndexMonthlySolanoDf = HousingAffordavilityIndexMonthlySolanoDf.dropna()
HousingAffordavilityIndexMonthlySolanoDf["Year"] = HousingAffordavilityIndexMonthlySolanoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySonomaDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Sonoma","Year"]]
HousingAffordavilityIndexMonthlySonomaDf = HousingAffordavilityIndexMonthlySonomaDf.dropna()
HousingAffordavilityIndexMonthlySonomaDf["Year"] = HousingAffordavilityIndexMonthlySonomaDf.Year.astype(float).round().astype(int)


HousingAffordavilityIndexMonthlyBayAreaDf= HousingAffordavilityIndexMonthlyDf[["Month/QTR","BayAreaAvg","Year"]]
HousingAffordavilityIndexMonthlyBayAreaDf = HousingAffordavilityIndexMonthlyBayAreaDf.dropna()
HousingAffordavilityIndexMonthlyBayAreaDf["Year"] = HousingAffordavilityIndexMonthlyBayAreaDf.Year.astype(float).round().astype(int)


# Population data goes back to 1960
PopulationCountyDf = pd.read_csv(os.path.join("resources","HistoricalData","Population_by_county.csv"))
PopulationCountyDf = PopulationCountyDf[["County","Year","Population"]]

PopulationAlmedaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Alameda County"]
PopulationContraCostaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Contra Costa County"]
PopulationMarinDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Marin County"]
PopulationNapaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Napa County"]
PopulationSanFranciscoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="San Francisco County"]
PopulationSanMateoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="San Mateo County"]
PopulationSantaClaraDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Santa Clara County"]
PopulationSolanoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Solano County"]
PopulationSonomaaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Sonoma County"]

#Housing Growrth - Number of new units added per year. Data goes back to 1967
HousingGrowthCountyDf = pd.read_csv(os.path.join("resources","HistoricalData","Housing_Growth_by_county.csv"))
HousingGrowthCountyDf = HousingGrowthCountyDf[["County","Year","TOTALunits"]]

HousingGrowthAlmedaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Alameda County"]
HousingGrowthContraCostaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Contra Costa County"]
HousingGrowthMarinDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Marin County"]
HousingGrowthNapaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Napa County"]
HousingGrowthSanFranciscoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="San Francisco County"]
HousingGrowthSanMateoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="San Mateo County"]
HousingGrowthSantaClaraDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Santa Clara County"]
HousingGrowthSolanoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Solano County"]
HousingGrowthSonomaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Sonoma County"]

#Median Housing Price

#Median prices of existing homes. Data goesback to 1990 . This might be a better measure of home prices (trends)
MedianHomePricesExistingDf = pd.read_csv(os.path.join("resources","HistoricalData","Annual_Home_Prices_by_county.csv"))

MedianHomePricesExistingDf

MedianHomePricesAlamedaDf = MedianHomePricesExistingDf[["Year", "Alameda"]]
MedianHomePricesContraCostaDf = MedianHomePricesExistingDf[["Year", "Contra Costa"]]
MedianHomePricesMarinDf = MedianHomePricesExistingDf[["Year", "Marin"]]
MedianHomePricesNapaDf = MedianHomePricesExistingDf[["Year", "Napa"]]
MedianHomePricesSanFranciscoDf = MedianHomePricesExistingDf[["Year", "San Francisco"]]
MedianHomePricesSanMateoDf = MedianHomePricesExistingDf[["Year", "San Mateo"]]
MedianHomePricesSantaClaraDf = MedianHomePricesExistingDf[["Year", "Santa Clara"]]
MedianHomePricesSolanoDf = MedianHomePricesExistingDf[["Year", "Solano"]]
MedianHomePricesSonomaDf = MedianHomePricesExistingDf[["Year", "Sonoma"]]

,Year,Alameda,Contra Costa,Marin,Napa,San Francisco,San Mateo,Santa Clara,Solano,Sonoma
0,1990,227580,NaN,356800,182320,285920,NaN,245670,NaN,181120
1,1991,229890,NaN,348040,183680,280720,328310.0,239610,NaN,188540
2,1992,223200,NaN,338000,189720,272340,319400.0,234550,NaN,198890
3,1993,217370,NaN,333420,183900,261600,305340.0,233610,NaN,195730
4,1994,210010,NaN,347230,186150,259560,319600.0,254560,NaN,193560
5,1995,207880,NaN,344600,183550,268635,317890.0,255260,142650.0,195170
6,1996,215490,NaN,364840,180000,276782,334070.0,273830,136420.0,187370
7,1997,230800,NaN,380930,200440,305851,373780.0,316250,137520.0,193730
8,1998,256770,NaN,431810,205600,356859,424010.0,364740,148130.0,222080
9,1999,289200,NaN,518770,255780,416244,482330.0,398000,159330.0,250380
10,2000,371850,NaN,643250,301490,536058,612380.0,524000,194610.0,318190
11,2001,399520,NaN,673510,333560,575353,616370.0,525000,237360.0,356910
12,2002,447290,NaN,715010,383050,619274,653250.0,545000,271620.0,380270
13,2003,477220,NaN,738880,464240,660036,674720.0,550000,312660.0,429030
14,2004,580360,NaN,871700,545700,758589,771400.0,627000,380900.0,499080
15,2005,661420,NaN,976720,655720,871042,903230.0,735000,463030.0,627910
16,2006,667410,634230.0,965080,677910,883056,868000.0,773000,476470.0,622950
17,2007,678130,638750.0,1037540,667690,918544,935000.0,836780,430830.0,586570
18,2008,475860,333790.0,962190,452900,847913,800000.0,668000,276880.0,390160
19,2009,381400,260590.0,778290,362190,744804,687500.0,530000,205060.0,350080
20,2010,436433,296380.0,810880,362460,748855,720500.0,595000,211740.0,363120
21,2011,398460,281240.0,758040,339740,699397,695000.0,570000,191360.0,332160
22,2012,433750,324750.0,784320,370910,774908,750000.0,645000,199180.0,358160
23,2013,577960,446300.0,938920,482540,930777,925000.0,780000,272060.0,442840
24,2014,657170,489630.0,1021400,571540,1084058,1066000.0,860000,320740.0,490590
25,2015,726000,525000.0,1100000,600000,1250000,1250000.0,951000,349000.0,529750
26,2016,780000,565000.0,1189000,630000,1340000,1300000.0,1020500,385000.0,580000

In [79]:
#BayArea level data

# Read the data and cleaning it up

# Population data goes back to 1960
PopulationDf = pd.read_csv(os.path.join("resources","HistoricalData","Population_Bay_Area.csv"))

#Housing Growrth - Number of new units added per year. Data goes back to 1967
HousingGrowthDf = pd.read_csv(os.path.join("resources","HistoricalData","Housing_Growth_by_BayArea.csv"))

#Median home prices. Data goes back to 1997. Stops at 2015. MedPrice_IA indicates median price adjusted for Inflation. 
MedianHomePricesDf = pd.read_csv(os.path.join("resources","HistoricalData","Home_Prices_Bay_Area.csv"))

#Median prices of existing homes. Data goesback to 1990 . This might be a better measure of home prices (trends)
MedianHomePricesExistingDf = pd.read_csv(os.path.join("resources","HistoricalData","MedianPricesofExistingDetachedHomesHistoricalData.csv"))


#HousingAffordabilityIndex: Percent of population that can afford to buy a home priced at the median price level - goes back to 1991
HousingAffordavilityIndexDf = pd.read_csv(os.path.join("resources","HistoricalData","Historical_Housing_Affordability_BayAreaCounties.csv"))

#Rents 1970, 1980, 1990, 2000, 2006 to 2015
RentTrendsDf =  pd.read_csv(os.path.join("resources","HistoricalData","Rents_Bay_Area.csv"))


RentTrendsDf

,Metro,MSA_forIA,Year,Median_Contract_Rent,Median_Contract_Rent_IA,Median_Contract_Rent_PercentChg_1970,Median_Contract_Rent_IA_PercentChg_1970,Source
0,Bay Area,San Francisco,1970,131.12,904,0.00,0.00,Census1970_2010counties
1,Bay Area,San Francisco,1980,291.81,891,1.23,-0.01,Census1980_2010counties
2,Bay Area,San Francisco,1990,635.60,1247,3.85,0.38,Census1990_2010counties
3,Bay Area,San Francisco,2000,900.74,1321,5.87,0.46,Census2000_2010counties
4,Bay Area,San Francisco,2006,1112.35,1375,7.48,0.52,ACS_B25058_1YR
5,Bay Area,San Francisco,2007,1154.94,1388,7.81,0.54,ACS_B25058_1YR
6,Bay Area,San Francisco,2008,1211.96,1425,8.24,0.58,ACS_B25058_1YR
7,Bay Area,San Francisco,2009,1231.93,1431,8.40,0.58,ACS_B25058_1YR
8,Bay Area,San Francisco,2010,1235.78,1419,8.42,0.57,ACS_B25058_1YR
9,Bay Area,San Francisco,2011,1270.39,1417,8.69,0.57,ACS_B25058_1YR
10,Bay Area,San Francisco,2012,1329.92,1448,9.14,0.60,ACS_B25058_1YR
11,Bay Area,San Francisco,2013,1375.50,1466,9.49,0.62,ACS_B25058_1YR
12,Bay Area,San Francisco,2014,1487.00,1526,10.34,0.69,ACS_B25058_1YR
13,Bay Area,San Francisco,2015,1581.00,1581,11.06,0.75,ACS_B25058_1YR

In [18]:
# Hypothesis : 

# The housing growth rate is not keeping up with the population growth rate and hence the increase in the median housing prices.

In [ ]:
# To do :

# Create a time series chart for housing growth, population growth and median housing prices.