In [17]:
# Dependencies
import numpy as np
import pandas as pd

import csv
import os

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine, MetaData

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [31]:
#Data common to macro level - Bay Area and Micro level - Counties.

#InterestRates - Data goes back to 1963 
InterestRatesDf =  pd.read_csv(os.path.join("resources","HistoricalData","FHFB_Historical_InterestRates.csv"))

#InterestRatesDf["Year"] = InterestRatesDf["Year"].apply(np.round)
#InterestRatesDf.Year.astype(float).round().astype(int)
InterestRatesDf = InterestRatesDf[["Year","Effective_Rate"]]
InterestRatesDf = InterestRatesDf.dropna()
InterestRatesDf["Year"] = InterestRatesDf.Year.astype(float).round().astype(int)
InterestRatesDf

    Year  Effective_Rate
0   1963            6.00
1   1964            5.95
2   1965            5.92
3   1966            6.37
4   1967            6.50
5   1968            7.02
6   1969            7.82
7   1970            8.38
8   1971            7.69
9   1972            7.53
10  1973            7.97
11  1974            8.96
12  1975            9.13
13  1976            9.07
14  1977            9.02
15  1978            9.59
16  1979           10.85
17  1980           12.84
18  1981           14.91
19  1982           15.31
20  1983           12.73
21  1984           12.48
22  1985           11.64
23  1986           10.18
24  1987            9.30
25  1988            9.30
26  1989           10.13
27  1990           10.05
28  1991            9.34
29  1992            8.11
30  1993            7.13
31  1994            7.49
32  1995            7.85
33  1996            7.74
34  1997            7.68
35  1998            7.10
36  1999            7.25
37  2000            7.96
38  2001            7.03
39  2002            6.51
40  2003            5.73
41  2004            5.74
42  2005            5.90
43  2006            6.60
44  2007            6.49
45  2008            6.14
46  2009            5.14
47  2010            4.91
48  2011            4.68
49  2012            3.77
50  2013            3.98
51  2014            4.28
52  2015            4.03
53  2016            3.83
54  2017            4.07
55  2018            4.46

In [68]:
#County level data

##HousingAffordabilityIndex: Percent of population that can afford to buy a home priced at the median price level 
##- goes back to 1991
########Data for Napa and Solana counties is avaliable only from 2010.

HousingAffordavilityIndexMonthlyDf = pd.read_csv(os.path.join("resources","HistoricalData","Historical_Housing_Affordability_BayAreaCounties.csv"))

HousingAffordavilityIndexMonthlyAlmedaDf = HousingAffordavilityIndexMonthlyDf[["Month/QTR","Alameda","Year"]]
HousingAffordavilityIndexMonthlyAlmedaDf = HousingAffordavilityIndexMonthlyAlmedaDf.dropna()
HousingAffordavilityIndexMonthlyAlmedaDf["Year"] = HousingAffordavilityIndexMonthlyAlmedaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyContraCostaDf = HousingAffordavilityIndexMonthlyDf[["Month/QTR","Contra Costa","Year"]]
HousingAffordavilityIndexMonthlyContraCostaDf = HousingAffordavilityIndexMonthlyContraCostaDf.dropna()
HousingAffordavilityIndexMonthlyContraCostaDf["Year"] = HousingAffordavilityIndexMonthlyContraCostaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyMarinDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Marin","Year"]]
HousingAffordavilityIndexMonthlyMarinDf = HousingAffordavilityIndexMonthlyMarinDf.dropna()
HousingAffordavilityIndexMonthlyMarinDf["Year"] = HousingAffordavilityIndexMonthlyMarinDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyNapaDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Napa","Year"]]
HousingAffordavilityIndexMonthlyNapaDf = HousingAffordavilityIndexMonthlyNapaDf.dropna()
HousingAffordavilityIndexMonthlyNapaDf["Year"] = HousingAffordavilityIndexMonthlyNapaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySanFranciscoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","San Francisco","Year"]]
HousingAffordavilityIndexMonthlySanFranciscoDf = HousingAffordavilityIndexMonthlySanFranciscoDf.dropna()
HousingAffordavilityIndexMonthlySanFranciscoDf["Year"] = HousingAffordavilityIndexMonthlySanFranciscoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySanMateoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","San Mateo","Year"]]
HousingAffordavilityIndexMonthlySanMateoDf = HousingAffordavilityIndexMonthlySanMateoDf.dropna()
HousingAffordavilityIndexMonthlySanMateoDf["Year"] = HousingAffordavilityIndexMonthlySanMateoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySantaClaraDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Santa Clara","Year"]]
HousingAffordavilityIndexMonthlySantaClaraDf = HousingAffordavilityIndexMonthlySantaClaraDf.dropna()
HousingAffordavilityIndexMonthlySantaClaraDf["Year"] = HousingAffordavilityIndexMonthlySantaClaraDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySolanoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Solano","Year"]]
HousingAffordavilityIndexMonthlySolanoDf = HousingAffordavilityIndexMonthlySolanoDf.dropna()
HousingAffordavilityIndexMonthlySolanoDf["Year"] = HousingAffordavilityIndexMonthlySolanoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySonomaDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Sonoma","Year"]]
HousingAffordavilityIndexMonthlySonomaDf = HousingAffordavilityIndexMonthlySonomaDf.dropna()
HousingAffordavilityIndexMonthlySonomaDf["Year"] = HousingAffordavilityIndexMonthlySonomaDf.Year.astype(float).round().astype(int)


HousingAffordavilityIndexMonthlyBayAreaDf= HousingAffordavilityIndexMonthlyDf[["Month/QTR","BayAreaAvg","Year"]]
HousingAffordavilityIndexMonthlyBayAreaDf = HousingAffordavilityIndexMonthlyBayAreaDf.dropna()
HousingAffordavilityIndexMonthlyBayAreaDf["Year"] = HousingAffordavilityIndexMonthlyBayAreaDf.Year.astype(float).round().astype(int)


# Population data goes back to 1960
PopulationCountyDf = pd.read_csv(os.path.join("resources","HistoricalData","Population_by_county.csv"))
PopulationCountyDf = PopulationCountyDf[["County","Year","Population"]]

PopulationAlmedaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Alameda County"]
PopulationContraCostaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Contra Costa County"]
PopulationMarinDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Marin County"]
PopulationNapaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Napa County"]
PopulationSanFranciscoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="San Francisco County"]
PopulationSanMateoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="San Mateo County"]
PopulationSantaClaraDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Santa Clara County"]
PopulationSolanoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Solano County"]
PopulationSonomaaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Sonoma County"]

#Housing Growrth - Number of new units added per year. Data goes back to 1967
HousingGrowthCountyDf = pd.read_csv(os.path.join("resources","HistoricalData","Housing_Growth_by_county.csv"))
HousingGrowthCountyDf = HousingGrowthCountyDf[["County","Year","TOTALunits"]]

HousingGrowthAlmedaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Alameda County"]
HousingGrowthContraCostaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Contra Costa County"]
HousingGrowthMarinDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Marin County"]
HousingGrowthNapaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Napa County"]
HousingGrowthSanFranciscoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="San Francisco County"]
HousingGrowthSanMateoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="San Mateo County"]
HousingGrowthSantaClaraDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Santa Clara County"]
HousingGrowthSolanoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Solano County"]
HousingGrowthSonomaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Sonoma County"]

#Median Housing Price

#Median prices of existing homes. Data goesback to 1990 . This might be a better measure of home prices (trends)
MedianHomePricesExistingDf = pd.read_csv(os.path.join("resources","HistoricalData","MedianPricesofExistingDetachedHomesHistoricalData.csv"))

MedianHomePricesExistingDf

,Mon-Yr,CA,Alameda,Contra-Costa,Marin,Napa,San Francisco,San Mateo,Santa Clara,Solano,Sonoma,S.F. Bay Area,Year
0,Jan-90,"$194,952","$226,149",NaN,"$346,153","$178,888","$287,499",NaN,"$271,840",NaN,"$174,022","$227,366",1990
1,Feb-90,"$196,273","$219,306",NaN,"$338,333","$186,363","$300,877",NaN,"$273,100",NaN,"$180,294","$234,739",1990
2,Mar-90,"$194,856","$225,162",NaN,"$358,571","$180,000","$290,151",NaN,"$275,500",NaN,"$178,823","$235,337",1990
3,Apr-90,"$196,111","$229,333",NaN,"$359,574","$158,571","$288,725",NaN,"$274,660",NaN,"$184,117","$233,178",1990
4,May-90,"$195,281","$232,291",NaN,"$374,999","$187,692","$282,626",NaN,"$266,670",NaN,"$185,844","$235,881",1990
5,Jun-90,"$194,410","$231,250",NaN,"$394,185","$177,332","$305,738",NaN,"$276,960",NaN,"$185,333","$240,386",1990
6,Jul-90,"$193,088","$232,916",NaN,"$357,291","$184,166","$296,195",NaN,"$273,600",NaN,"$185,333","$241,503",1990
7,Aug-90,"$192,180","$228,467",NaN,"$365,217","$172,499","$284,523",NaN,"$273,340",NaN,"$180,270","$237,727",1990
8,Sep-90,"$189,979","$225,000",NaN,"$337,500","$177,499","$278,301",NaN,"$258,060",NaN,"$182,308","$225,569",1990
9,Oct-90,"$187,630","$221,093",NaN,"$351,851","$197,777","$272,500",NaN,"$253,470",NaN,"$183,414","$227,917",1990
10,Nov-90,"$192,020","$226,126",NaN,"$330,000","$189,090","$281,249",NaN,"$257,450",NaN,"$178,153","$229,791",1990
11,Dec-90,"$190,375","$218,161",NaN,"$325,000","$185,000","$272,777",NaN,"$254,720",NaN,"$174,615","$222,261",1990
12,Jan-91,"$192,054","$216,532",NaN,"$313,461","$168,333","$270,161","$328,889","$247,250",NaN,"$178,461","$225,892",1991
13,Feb-91,"$194,806","$222,896",NaN,"$312,500","$170,000","$270,714","$285,256","$243,870",NaN,"$182,857","$226,188",1991
14,Mar-91,"$202,666","$221,768",NaN,"$350,000","$165,555","$268,055","$317,910","$248,560",NaN,"$183,469","$229,262",1991
15,Apr-91,"$207,718","$233,192",NaN,"$341,666","$185,000","$279,941","$319,101","$262,460",NaN,"$179,195","$231,764",1991
16,May-91,"$211,001","$239,885",NaN,"$346,938","$181,000","$280,319","$333,474","$268,780",NaN,"$184,038","$244,494",1991
17,Jun-91,"$206,722","$229,129",NaN,"$367,021","$186,666","$291,666","$338,938","$277,450",NaN,"$191,607","$242,687",1991
18,Jul-91,"$206,069","$234,042",NaN,"$347,272","$187,272","$294,339","$334,183","$268,200",NaN,"$191,304","$242,132",1991
19,Aug-91,"$200,340","$231,551",NaN,"$350,000","$185,384","$286,499","$356,185","$267,250",NaN,"$195,384","$234,388",1991
20,Sep-91,"$197,801","$224,811",NaN,"$347,368","$210,000","$278,921","$327,118","$251,220",NaN,"$196,666","$234,009",1991
21,Oct-91,"$196,021","$221,656",NaN,"$342,307","$185,000","$275,862","$323,750","$250,000",NaN,"$190,893","$231,509",1991
22,Nov-91,"$194,192","$221,098",NaN,"$367,856","$200,000","$282,608","$331,666","$245,980",NaN,"$190,513","$235,118",1991
23,Dec-91,"$199,452","$228,195",NaN,"$355,882","$183,333","$279,310","$310,606","$256,250",NaN,"$197,692","$232,916",1991
24,Jan-92,"$196,410","$212,500",NaN,"$346,428","$188,571","$267,262","$300,000","$245,060",NaN,"$193,548","$225,647",1992
25,Feb-92,"$198,220","$213,194",NaN,"$293,478","$194,999","$268,750","$322,807","$243,370",NaN,"$195,806","$229,372",1992
26,Mar-92,"$200,500","$222,837",NaN,"$364,062","$200,000","$272,222","$326,190","$251,680",NaN,"$198,666","$233,112",1992
27,Apr-92,"$198,700","$226,946",NaN,"$315,454","$189,285","$281,418","$300,000","$254,670",NaN,"$198,867","$231,791",1992
28,May-92,"$203,420","$221,220",NaN,"$350,000","$185,000","$277,419","$324,609","$267,120",NaN,"$205,063","$239,576",1992
29,Jun-92,"$199,460","$229,885",NaN,"$342,045","$189,090","$288,207","$332,692","$256,010",NaN,"$207,353","$238,395",1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,15-Dec,"$489,770","$731,500","$500,000","$1,100,000","$595,500","$1,204,000","$1,194,000","$920,000","$349,450","$549,000","$729,690",2015
312,16-Jan,"$467,160","$700,000","$500,000","$952,500","$584,500","$1,160,000","$1,077,500","$895,000","$354,000","$550,000","$690,000",2016
313,16-Feb,"$444,780","$715,000","$529,000","$1,141,400","$650,000","$1,410,000","$1,200,000","$942,500","$361,500","$540,000","$698,950",2016
314,16-Mar,"$484,120","$758,000","$548,780","$1,187,500","$650,000","$1,355,000","$1,205,000","$1,065,000","$370,000","$560,000","$761,090",2016
315,16-Apr,"$509,240","$800,000","$565,000","$1,200,000","$629,980","$1,400,000","$1,312,500","$1,085,000","$380,000","$569,000","$831,180",2016
316,16-May,"$519,930","$828,000","$595,000","$1,237,500","$645,770","$1,360,000","$1,392,500","$1,100,000","$385,500","$580,000","$848,580",2016
317,16-Jun,"$518,980","$803,000","$625,000","$1,218,500","$619,000","$1,350,000","$1,306,250","$1,050,000","$390,000","$608,000","$841,960",2016
318,16-Jul,"$511,420","$800,000","$625,000","$1,150,000","$634,380","$1,362,500","$1,350,000","$1,045,000","$381,000","$572,500","$810,510",2016
319,16-Aug,"$527,490","$775,000","$570,000","$1,200,000","$625,000","$1,257,500","$1,250,000","$975,000","$410,000","$585,000","$777,160",2016
320,16-Sep,"$516,450","$760,000","$549,900","$1,165,000","$650,000","$1,218,750","$1,290,000","$1,000,000","$389,500","$590,000","$770,150",2016
321,16-Oct,"$513,520","$775,000","$535,650","$1,225,000","$618,250","$1,407,500","$1,350,000","$1,047,500","$392,500","$595,000","$803,190",2016
322,16-Nov,"$502,490","$800,000","$569,000","$1,050,000","$637,500","$1,360,500","$1,216,750","$1,010,000","$380,000","$578,000","$809,150",2016
323,16-Dec,"$510,560","$755,000","$550,000","$1,118,700","$605,000","$1,315,210","$1,332,500","$965,000","$405,000","$585,000","$775,820",2016
324,17-Jan,"$491,840","$755,000","$540,000","$1,150,000","$662,500","$1,250,000","$1,150,000","$927,500","$387,400","$579,500","$730,200",2017
325,17-Feb,"$480,270","$786,000","$554,250","$1,174,500","$660,000","$1,276,000","$1,352,000","$1,100,000","$382,500","$598,640","$784,470",2017
326,17-Mar,"$518,600","$833,750","$585,000","$1,250,000","$675,000","$1,350,000","$1,350,000","$1,130,000","$400,000","$635,000","$830,000",2017
327,17-Apr,"$537,950","$875,000","$653,694","$1,325,000","$685,000","$1,402,500","$1,500,000","$1,160,000","$400,000","$608,000","$885,000",2017
328,17-May,"$550,239","$862,000","$653,000","$1,315,000","$673,250","$1,501,680","$1,480,000","$1,200,000","$415,000","$625,000","$899,730",2017
329,17-Jun,"$555,410","$900,000","$660,000","$1,272,500","$685,000","$1,469,000","$1,433,750","$1,182,500","$420,000","$627,250","$908,740",2017
330,17-Jul,"$549,460","$875,500","$633,250","$1,224,000","$695,000","$1,428,000","$1,500,000","$1,165,000","$420,000","$645,000","$898,880",2017
331,17-Aug,"$565,330","$867,500","$627,860","$1,207,120","$654,000","$1,380,000","$1,375,000","$1,150,000","$410,000","$625,500","$856,200",2017
332,17-Sep,"$555,410","$853,000","$605,000","$1,250,000","$632,500","$1,350,000","$1,400,500","$1,180,000","$422,500","$620,000","$813,520",2017
333,17-Oct,"$546,430","$862,450","$615,000","$1,252,500","$649,000","$1,594,000","$1,522,500","$1,242,500","$415,000","$645,000","$892,720",2017
334,17-Nov,"$546,820","$880,000","$615,000","$1,230,000","$682,000","$1,500,000","$1,486,000","$1,282,500","$410,000","$655,000","$910,350",2017
335,17-Dec,"$549,560","$862,000","$600,000","$1,268,900","$688,000","$1,475,000","$1,500,000","$1,300,000","$416,000","$670,000","$885,030",2017
336,18-Jan,"$527,780","$840,000","$555,000","$1,317,500","$662,000","$1,330,000","$1,437,500","$1,170,000","$425,000","$670,000","$809,900",2018
337,18-Feb,"$522,440","$832,000","$610,000","$1,371,000","$713,500","$1,730,000","$1,610,000","$1,383,500","$430,000","$689,000","$875,000",2018
338,18-Mar,"$564,830","$955,000","$655,000","$1,392,500","$675,000","$1,680,000","$1,615,000","$1,454,500","$445,000","$685,000","$980,000",2018
339,18-Apr,"$584,460","$969,300","$689,660","$1,385,000","$682,500","$1,650,000","$1,770,000","$1,425,000","$447,500","$685,000","$1,010,000",2018
340,18-May,"$600,860","$1,025,000","$687,500","$1,415,000","$702,500","$1,620,000","$1,600,000","$1,400,000","$451,000","$698,500","$1,090,000",2018

In [67]:
#BayArea level data

# Read the data and cleaning it up

# Population data goes back to 1960
PopulationDf = pd.read_csv(os.path.join("resources","HistoricalData","Population_Bay_Area.csv"))

#Housing Growrth - Number of new units added per year. Data goes back to 1967
HousingGrowthDf = pd.read_csv(os.path.join("resources","HistoricalData","Housing_Growth_by_BayArea.csv"))

#Median home prices. Data goes back to 1997. Stops at 2015. MedPrice_IA indicates median price adjusted for Inflation. 
MedianHomePricesDf = pd.read_csv(os.path.join("resources","HistoricalData","Home_Prices_Bay_Area.csv"))

#Median prices of existing homes. Data goesback to 1990 . This might be a better measure of home prices (trends)
MedianHomePricesExistingDf = pd.read_csv(os.path.join("resources","HistoricalData","MedianPricesofExistingDetachedHomesHistoricalData.csv"))


#HousingAffordabilityIndex: Percent of population that can afford to buy a home priced at the median price level - goes back to 1991
HousingAffordavilityIndexDf = pd.read_csv(os.path.join("resources","HistoricalData","Historical_Housing_Affordability_BayAreaCounties.csv"))

#Rents 1970, 1980, 1990, 2000, 2006 to 2015
RentTrendsDf =  pd.read_csv(os.path.join("resources","HistoricalData","Rents_Bay_Area.csv"))


HousingGrowthDf

      Region  Year  SFunits  MFunits  TOTALunits  SF_Share  MF_Share Source
0   Bay Area  1967    18717    10859       29576      0.63      0.37   CIRB
1   Bay Area  1968    23269    18211       41480      0.56      0.44   CIRB
2   Bay Area  1969    19165    24077       43242      0.44      0.56   CIRB
3   Bay Area  1970    18491    30200       48691      0.38      0.62   CIRB
4   Bay Area  1971    30842    35772       66614      0.46      0.54   CIRB
5   Bay Area  1972    30378    30622       61000      0.50      0.50   CIRB
6   Bay Area  1973    24909    24067       48976      0.51      0.49   CIRB
7   Bay Area  1974    17289     8827       26116      0.66      0.34   CIRB
8   Bay Area  1975    19217     6731       25948      0.74      0.26   CIRB
9   Bay Area  1976    28134     9529       37663      0.75      0.25   CIRB
10  Bay Area  1977    33406    12829       46235      0.72      0.28   CIRB
11  Bay Area  1978    25305    13615       38920      0.65      0.35   CIRB
12  Bay Area  1979    24405     9358       33763      0.72      0.28   CIRB
13  Bay Area  1980    18345     9507       27852      0.66      0.34   CIRB
14  Bay Area  1981    10416     6162       16578      0.63      0.37   CIRB
15  Bay Area  1982     8874     6805       15679      0.57      0.43   CIRB
16  Bay Area  1983    17937    12448       30385      0.59      0.41   CIRB
17  Bay Area  1984    18467    15212       33679      0.55      0.45   CIRB
18  Bay Area  1985    19739    24271       44010      0.45      0.55   CIRB
19  Bay Area  1986    23104    24314       47418      0.49      0.51   CIRB
20  Bay Area  1987    21701    17980       39681      0.55      0.45   CIRB
21  Bay Area  1988    24847    12938       37785      0.66      0.34   CIRB
22  Bay Area  1989    23134    12482       35616      0.65      0.35   CIRB
23  Bay Area  1990    12652     9324       21976      0.58      0.42   CIRB
24  Bay Area  1991    10511     6496       17007      0.62      0.38   CIRB
25  Bay Area  1992    11719     4159       15878      0.74      0.26   CIRB
26  Bay Area  1993    11001     4073       15074      0.73      0.27   CIRB
27  Bay Area  1994    13062     4434       17496      0.75      0.25   CIRB
28  Bay Area  1995    11748     3915       15663      0.75      0.25   CIRB
29  Bay Area  1996    14300     7409       21709      0.66      0.34   CIRB
30  Bay Area  1997    16790     9885       26675      0.63      0.37   CIRB
31  Bay Area  1998    16823    11724       28547      0.59      0.41   CIRB
32  Bay Area  1999    16399    10884       27283      0.60      0.40   CIRB
33  Bay Area  2000    16090    12562       28652      0.56      0.44   CIRB
34  Bay Area  2001    12652    11361       24013      0.53      0.47   CIRB
35  Bay Area  2002    14164     8409       22573      0.63      0.37   CIRB
36  Bay Area  2003    14947    13222       28169      0.53      0.47   CIRB
37  Bay Area  2004    14885    12187       27072      0.55      0.45   CIRB
38  Bay Area  2005    14686    12215       26901      0.55      0.45   CIRB
39  Bay Area  2006    10528    13780       24308      0.43      0.57   CIRB
40  Bay Area  2007     8953     9335       18288      0.49      0.51   CIRB
41  Bay Area  2008     4595     7988       12583      0.37      0.63   CIRB
42  Bay Area  2009     3873     1998        5871      0.66      0.34   CIRB
43  Bay Area  2010     3685     6503       10188      0.36      0.64   CIRB
44  Bay Area  2011     3774     6729       10503      0.36      0.64    CHF
45  Bay Area  2012     4982    10965       15947      0.31      0.69    CHF
46  Bay Area  2013     6208    15815       22023      0.28      0.72    CHF
47  Bay Area  2014     5629    15622       21251      0.26      0.74    CHF
48  Bay Area  2015     7233    12552       19785      0.37      0.63    CHF

In [18]:
# Hypothesis : 

# The housing growth rate is not keeping up with the population growth rate and hence the increase in the median housing prices.

In [ ]:
# To do :

# Create a time series chart for housing growth, population growth and median housing prices.